<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Order Form</title>
</head>
<body class="bg-gray-100 p-6">

    <h1 class="text-xl font-bold text-center mb-4"><span>Hello</span></h1>

    <form class="max-w-md mx-auto bg-white p-8 shadow-md rounded-md" action="" method="POST">

        <div class="mb-4">
            <label for="name" class="block text-gray-700 font-bold mb-2">Recipient Name</label>
            <input type="text" id="name" name="name" class="w-full px-3 py-2 border rounded-md">
        </div>

        <div class="mb-4">
            <label for="gender" class="block text-gray-700 font-bold mb-2">Gender</label>
            <div class="flex">
                <input type="radio" id="male" name="gender" value="male" class="mr-2">
                <label for="male" class="mr-4">Male</label>
                <input type="radio" id="female" name="gender" value="female" class="mr-2">
                <label for="female">Female</label>
            </div>
        </div>

        <div class="mb-4">
            <label for="street" class="block text-gray-700 font-bold mb-2">Street</label>
            <input type="text" id="street" name="street" class="w-full px-3 py-2 border rounded-md">
        </div>
        <div class="mb-4">
            <label for="zipCode" class="block text-gray-700 font-bold mb-2">Zip Code</label>
            <input type="text" id="zipCode" name="zipCode" class="w-full px-3 py-2 border rounded-md">
        </div>


        <div class="mb-4">
            <label for="district" class="block text-gray-700 font-bold mb-2">District</label>
            <input type="text" id="district" name="district" class="w-full px-3 py-2 border rounded-md">
        </div>
        
        <div class="mb-4">
            <label for="country" class="block text-gray-700 font-bold mb-2">Country</label>
            <select id="country" name="country" class="w-full px-3 py-2 border rounded-md">
                <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}">
                </option>
            </select>
        </div>

        <div class="mb-4">
            <label for="province" class="block text-gray-700 font-bold mb-2">Province</label>
            <select id="province" name="province" class="w-full px-3 py-2 border rounded-md">
               <option th:each="province : ${provinces}" th:value="${province.id}" th:text="${province.name}">
                </option>
            </select>
        </div>


        <div class="mb-4">
            <label for="city" class="block text-gray-700 font-bold mb-2">City</label>
            <select id="city" name="city_id" class="w-full px-3 py-2 border rounded-md">
                <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}">
                </option>
            </select>
        </div>

       
        

        <div class="mb-4">
            <input type="checkbox" id="assurance" name="assurance" class="mr-2">
            <label for="assurance">Assurance</label>
        </div>

        <div class="mb-4">
            <label for="description" class="block text-gray-700 font-bold mb-2">Description</label>
            <textarea name="description" id="description" cols="30" rows="10" class="w-full px-3 py-2 border rounded-md"></textarea>
        </div>

        <div class="mb-4">
            <label for="totalPrice" class="block text-gray-700 font-bold mb-2">Total Price</label>
            <input type="number" id="totalPrice" name="totalPrice" class="w-full px-3 py-2 border rounded-md">
        </div>

        <div class="mb-4">
            <label for="deliveryCost" class="block text-gray-700 font-bold mb-2">Delivery Cost</label>
            <input type="number" id="deliveryCost" name="deliveryCost" class="w-full px-3 py-2 border rounded-md">
        </div>


        <!-- Footer -->
        <div class="flex justify-between">
            <div>
                <p class="text-gray-600">Total Price: $XX.XX</p>
                <p class="text-gray-600">Delivery Service Total: $YY.YY</p>
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Place Order</button>
        </div>

    </form>

</body>

</html>
