<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sending Addresses</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100 p-8">

    <h1 class="text-2xl font-bold mb-4">Sending Addresses</h1>

    <table class="min-w-full bg-white border border-gray-300">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b text-left">ID</th>
                <th class="py-2 px-4 border-b text-left">Recipient Name</th>
                <th class="py-2 px-4 border-b text-left">Street</th>
                <th class="py-2 px-4 border-b text-left">Zip Code</th>
                <th class="py-2 px-4 border-b text-left">District</th>
                <th class="py-2 px-4 border-b text-left">Total Price</th>
                <th class="py-2 px-4 border-b text-left">Total Delivery Cost</th>
                <th class="py-2 px-4 border-b text-left">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="address : ${sendingAddresses}">
                <td class="py-2 px-4 border-b" th:text="${address.id}"></td>
                <td class="py-2 px-4 border-b" th:text="${address.name}"></td>
                <td class="py-2 px-4 border-b" th:text="${address.street}"></td>
                <td class="py-2 px-4 border-b" th:text="${address.zipCode}"></td>
                <td class="py-2 px-4 border-b" th:text="${address.district}"></td>
                <td class="py-2 px-4 border-b">Rp<span  th:text="${address.totalPrice}"></span></td>
                <td class="py-2 px-4 border-b">Rp<span  th:text="${address.deliveryCost}"></span></td>
                <td class="py-2 px-4 border-b">
                    <form th:action="@{'/test/addresses/' + ${address.id}}" method="post">
                        <button type="submit" class="text-white bg-red-600 px-2 py-1 rounded-md">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>